In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import json
import sys
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
note_events = pd.read_excel('notesResult.xlsx')
note_events

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,240,27051,113012.0,2194-02-02,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...
1,189,17483,189331.0,2147-07-01,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2147-6-24**] Discharge...
2,192,82559,197325.0,2157-02-08,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2157-2-1**] D...
3,221,75347,152030.0,2174-06-03,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2174-5-3**] D...
4,2,23224,117806.0,2154-05-03,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2154-4-30**] ...
...,...,...,...,...,...,...,...,...,...,...,...
68275,2075453,31655,175166.0,2148-07-25,2148-07-25 22:24:00,2148-07-25 22:26:00,Nursing/other,Report,18251.0,NaN,NPN NICU\nTerm female admitted to NICU for sep...
68276,2077891,31892,163351.0,2154-01-25,2154-01-25 14:20:00,2154-01-25 15:00:00,Nursing/other,Report,20634.0,NaN,0700-[**2076**] NPN\n\n\nSEPSIS: Vancomycin an...
68277,2078112,31893,102752.0,2126-12-05,2126-12-05 21:46:00,2126-12-05 21:59:00,Nursing/other,Report,20966.0,NaN,NPN\nplease see above note for delivery histor...
68278,2078113,31893,102752.0,2126-12-06,2126-12-06 05:16:00,2126-12-06 05:28:00,Nursing/other,Report,15226.0,NaN,NPN 11p-7a\n\n\n#1 Infant placed to RA @ shift...
68279,2077115,31767,105243.0,2141-01-05,2141-01-05 14:24:00,2141-01-05 15:01:00,Nursing/other,Report,20700.0,NaN,NICU Attending Admission Note\nPt is a 34 [**6...

In [3]:
txt = note_events['text'][68276]
print(txt)

0700-[**2076**] NPN


SEPSIS: Vancomycin and Zosyn were discontinued today per
order. Blood culture is negative to date. No evidence of
sepsis at this time.

RESP: Remains on high-frequency ventilator. Current settings
MAP 12, delta P 21, fi02 31-40%. MAP was weaned from 13 to
12 this a.m. following 0900 chest x-ray which showed good
lung expansion. Delta P was weaned from 23 to 21 at 1230
following an ABG of 7.34(pH)/42(pC02)/52(p02)/24(tC02)/-2.
Plan to obtain a blood gas on current settings later today.
Lung sounds diminished B/L. Chest tube located in upper left
area of chest continues to evacuate air. Chest x-ray this
a.m. shows continued presence of small pneumothorax. Plan to
obtain another x-ray tomorrow a.m. unless otherwise
indicated. ETT suctioned x1 for small amount of clear
secretions. Continues on Caffeine and vitamin A.

FEN: NPO; TF 140cc/kg/d. IVFs 1/2NaAc + heparine infusing
via UAC at 0.8cc/hr; D10w + heparine infusing via primary
port of DLUVC at 1cc/hr, PND10w infusing via secondary port
at 2.4cc/hr, piggybacked with IL at 0.4cc/hr and Fentanyl
drip at 0.33cc/hr (equivalent to 2mcg/kg/hr). Dstick 100;
plan to check electrolytes q24hrs (last checked at 0400).
Abdomen soft, flat, hypoactive BS. Voiding, no stool at this
time.

DEV: Temp stable, nested with sheepskin on servo controlled
warmer. MAE, fontanels soft and flat. Active with cares,
settles easily when undisturbed. Stress minimized with q6hr
cluster cares. Eyes remain fused. Skin is dry and intact.

PARENTING: Parents visited twice today and were updated at
bedside. They asked appropriate questions and spoke lovingly
to [**Year (4 digits) **] during their visit. Mom was discharged today and
was [**Year (4 digits) 100**] when she left.

BILI: [**Year (4 digits) 11**] is under double photothx (warmer photothx +
Neoblue mini). Bili today 4.5/0.4; plan to check again
tomorrow a.m.

CV: HR 140s-160s, no audible murmur. [**Year (4 digits) 11**] is pink and
well-perfused. Blood out approximately 2.5cc at this time.
BP stable with MAPs 30-40. Continues to have generalized
edema.

In [4]:
from textblob import TextBlob
zen = TextBlob(txt)
zen

TextBlob("0700-[**2076**] NPN


SEPSIS: Vancomycin and Zosyn were discontinued today per
order. Blood culture is negative to date. No evidence of
sepsis at this time.

RESP: Remains on high-frequency ventilator. Current settings
MAP 12, delta P 21, fi02 31-40%. MAP was weaned from 13 to
12 this a.m. following 0900 chest x-ray which showed good
lung expansion. Delta P was weaned from 23 to 21 at 1230
following an ABG of 7.34(pH)/42(pC02)/52(p02)/24(tC02)/-2.
Plan to obtain a blood gas on current settings later today.
Lung sounds diminished B/L. Chest tube located in upper left
area of chest continues to evacuate air. Chest x-ray this
a.m. shows continued presence of small pneumothorax. Plan to
obtain another x-ray tomorrow a.m. unless otherwise
indicated. ETT suctioned x1 for small amount of clear
secretions. Continues on Caffeine and vitamin A.

FEN: NPO; TF 140cc/kg/d. IVFs 1/2NaAc + heparine infusing
via UAC at 0.8cc/hr; D10w + heparine infusing via primary
port of DLUVC at 1cc/hr, PND10w infusing via secondary port
at 2.4cc/hr, piggybacked with IL at 0.4cc/hr and Fentanyl
drip at 0.33cc/hr (equivalent to 2mcg/kg/hr). Dstick 100;
plan to check electrolytes q24hrs (last checked at 0400).
Abdomen soft, flat, hypoactive BS. Voiding, no stool at this
time.

DEV: Temp stable, nested with sheepskin on servo controlled
warmer. MAE, fontanels soft and flat. Active with cares,
settles easily when undisturbed. Stress minimized with q6hr
cluster cares. Eyes remain fused. Skin is dry and intact.

PARENTING: Parents visited twice today and were updated at
bedside. They asked appropriate questions and spoke lovingly
to [**Year (4 digits) **] during their visit. Mom was discharged today and
was [**Year (4 digits) 100**] when she left.

BILI: [**Year (4 digits) 11**] is under double photothx (warmer photothx +
Neoblue mini). Bili today 4.5/0.4; plan to check again
tomorrow a.m.

CV: HR 140s-160s, no audible murmur. [**Year (4 digits) 11**] is pink and
well-perfused. Blood out approximately 2.5cc at this time.
BP stable with MAPs 30-40. Continues to have generalized
edema.


")

In [5]:
targets = []
for sentence in zen.sentences:
    if 'sepsis' in sentence or 'septic' in sentence:
        targets.append(sentence)
        print(sentence)

No evidence of
sepsis at this time.

In [6]:
for tgt in targets:
    print(tgt.sentiment)

Sentiment(polarity=0.0, subjectivity=0.0)

In [7]:
zen_68277 = TextBlob(note_events['text'][68277])
for sentence in zen_68277.sentences:
    if 'sepsis' in sentence or 'septic' in sentence:
        print(sentence)
        print(sentence.sentiment)

Sepsis; Will continue on antibiotics for sepsis rule out.Alert and active with cares, good tome and color.
Sentiment(polarity=0.2833333333333333, subjectivity=0.6000000000000001)

In [8]:
zen_68277 = TextBlob(note_events['text'][68278])
for sentence in zen_68277.sentences:
    if 'sepsis' in sentence or 'septic' in sentence:
        print(sentence)
        print(sentence.sentiment)

A: r/o sepsis P: follow exam
Sentiment(polarity=0.0, subjectivity=0.0)

In [9]:
zen_68277 = TextBlob(note_events['text'][68279])
for sentence in zen_68277.sentences:
    if 'sepsis' in sentence or 'septic' in sentence:
        print(sentence)
        print(sentence.sentiment)

FEN: NPO, Initial DS 37-->Start IVF at TFL 80 cc/kg, continue to monitor DS closely, 24h lytes
RESP: Stable on [**Last Name (LF) **], [**First Name3 (LF) **] monitor for apnea
CV: Hemodynamically stable, will continue CR monitor
ID: Will send cbc w/ diff and blood cx for sepsis screen, will hold off on starting abx for now pending labs as no significant sepsis risk factors
HEME: rec'd vit K shot
NEURO: will obtain appropriate screening
Sentiment(polarity=0.09375, subjectivity=0.3125)

In [10]:
zen_68277 = TextBlob(note_events['text'][68260])
for sentence in zen_68277.sentences:
    if 'sepsis' in sentence or 'septic' in sentence:
        print(sentence)
        print(sentence.sentiment)

NPN Septic Work Up
infant brought from L&D for a sepsis eval.
Sentiment(polarity=0.0, subjectivity=0.0)

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from tqdm.auto import tqdm, trange

reduced_text = []
for i, doc in tqdm(enumerate(note_events['text']), total=len(note_events['text'])):
    if type(doc) != str:
        reduced_text.append('')
        continue
    zen = TextBlob(doc)
    reduced_sentences = []
    # split sentences
    for sentence in zen.sentences:
        if 'sepsis' in sentence or 'septic' in sentence:
            for i, word in enumerate(sentence.words):
                if 'sepsis' in word or 'septic' in word:
                    tgt = ' '.join(sentence.words[i-10:i+12]).strip()
                    reduced_sentences.append(tgt if 'sepsis' in tgt or 'septic' in tgt else '')
    reduced_text.append('\n'.join(reduced_sentences) if reduced_sentences else '')
note_events['reduced_text'] = reduced_text

  0%|          | 0/68280 [00:00<?, ?it/s]

In [12]:
note_events

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text,reduced_text
0,240,27051,113012.0,2194-02-02,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...,she completed a 10-day course of ceftazadime a...
1,189,17483,189331.0,2147-07-01,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2147-6-24**] Discharge...,Specifically for sepsis and Crohn 's flare\n
2,192,82559,197325.0,2157-02-08,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2157-2-1**] D...,
3,221,75347,152030.0,2174-06-03,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2174-5-3**] D...,was 3 days ago thought to be in setting of sep...
4,2,23224,117806.0,2154-05-03,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2154-4-30**] ...,to the rapid rise in her WBC count myelosuppre...
...,...,...,...,...,...,...,...,...,...,...,...,...
68275,2075453,31655,175166.0,2148-07-25,2148-07-25 22:24:00,2148-07-25 22:26:00,Nursing/other,Report,18251.0,NaN,NPN NICU\nTerm female admitted to NICU for sep...,
68276,2077891,31892,163351.0,2154-01-25,2154-01-25 14:20:00,2154-01-25 15:00:00,Nursing/other,Report,20634.0,NaN,0700-[**2076**] NPN\n\n\nSEPSIS: Vancomycin an...,No evidence of sepsis at this time
68277,2078112,31893,102752.0,2126-12-05,2126-12-05 21:46:00,2126-12-05 21:59:00,Nursing/other,Report,20966.0,NaN,NPN\nplease see above note for delivery histor...,
68278,2078113,31893,102752.0,2126-12-06,2126-12-06 05:16:00,2126-12-06 05:28:00,Nursing/other,Report,15226.0,NaN,NPN 11p-7a\n\n\n#1 Infant placed to RA @ shift...,A r/o sepsis P follow exam
68279,2077115,31767,105243.0,2141-01-05,2141-01-05 14:24:00,2141-01-05 15:01:00,Nursing/other,Report,20700.0,NaN,NICU Attending Admission Note\nPt is a 34 [**6...,ID Will send cbc w diff and blood cx for sepsi...

In [13]:
dropped = note_events.drop_duplicates(keep=False, subset=['reduced_text'])
dropped

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text,reduced_text
0,240,27051,113012.0,2194-02-02,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...,she completed a 10-day course of ceftazadime a...
1,189,17483,189331.0,2147-07-01,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2147-6-24**] Discharge...,Specifically for sepsis and Crohn 's flare\n
3,221,75347,152030.0,2174-06-03,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2174-5-3**] D...,was 3 days ago thought to be in setting of sep...
4,2,23224,117806.0,2154-05-03,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2154-4-30**] ...,to the rapid rise in her WBC count myelosuppre...
5,14,15472,118185.0,2175-09-28,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2175-9-18**] Discharge...,venous pressure and decreased pulmonary capill...
...,...,...,...,...,...,...,...,...,...,...,...,...
68271,2079379,32151,115098.0,2199-09-22,2199-09-22 21:15:00,2199-09-22 21:22:00,Nursing/other,Report,16929.0,NaN,Neonatology Attending Triage Note\nAsked to ev...,"302,000 Assessment/plan Well appearing term in..."
68272,2079380,32151,115098.0,2199-09-22,2199-09-22 21:22:00,2199-09-22 21:25:00,Nursing/other,Report,17858.0,NaN,Admission Note\n\n\nBaby [**Known lastname 782...,Note Baby Known lastname 782 admitted at 2192 ...
68273,2076446,31726,184255.0,2106-01-04,2106-01-04 09:55:00,2106-01-04 10:27:00,Nursing/other,Report,20700.0,NaN,NICU Attending Note\nDOL 2 CGA 27 wks\n\nS/p s...,34 down from 53 On amp and gent for r/o sepsis...
68274,2075452,31655,175166.0,2148-07-25,2148-07-25 21:51:00,2148-07-25 21:58:00,Nursing/other,Report,19211.0,NaN,Neonatology\nBaby Girl [**Known lastname 1672*...,referred by Dr Last Name STitle 2252 for evalu...
68279,2077115,31767,105243.0,2141-01-05,2141-01-05 14:24:00,2141-01-05 15:01:00,Nursing/other,Report,20700.0,NaN,NICU Attending Admission Note\nPt is a 34 [**6...,ID Will send cbc w diff and blood cx for sepsi...

In [14]:
def textblob_tokenizer(text):
    return [word.lemmatize() for word in TextBlob(text).words]

In [15]:
vectorizer = TfidfVectorizer(tokenizer=textblob_tokenizer)
X = vectorizer.fit_transform(note_events['reduced_text'])
X

<68280x23064 sparse matrix of type '<class 'numpy.float64'>'
	with 1090813 stored elements in Compressed Sparse Row format>

In [16]:
# Apply K-Means clustering
num_clusters = 3
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
kmeans.fit(X)

# Assign the cluster labels to the documents
doc_clusters = kmeans.predict(X)
doc_clusters

array([1, 2, 2, ..., 2, 2, 2])

In [17]:
note_events['cluster'] = doc_clusters
note_events

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text,reduced_text,cluster
0,240,27051,113012.0,2194-02-02,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...,she completed a 10-day course of ceftazadime a...,1
1,189,17483,189331.0,2147-07-01,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2147-6-24**] Discharge...,Specifically for sepsis and Crohn 's flare\n,2
2,192,82559,197325.0,2157-02-08,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2157-2-1**] D...,,2
3,221,75347,152030.0,2174-06-03,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2174-5-3**] D...,was 3 days ago thought to be in setting of sep...,1
4,2,23224,117806.0,2154-05-03,NaT,NaT,Discharge summary,Report,NaN,NaN,Admission Date: [**2154-4-30**] ...,to the rapid rise in her WBC count myelosuppre...,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68275,2075453,31655,175166.0,2148-07-25,2148-07-25 22:24:00,2148-07-25 22:26:00,Nursing/other,Report,18251.0,NaN,NPN NICU\nTerm female admitted to NICU for sep...,,2
68276,2077891,31892,163351.0,2154-01-25,2154-01-25 14:20:00,2154-01-25 15:00:00,Nursing/other,Report,20634.0,NaN,0700-[**2076**] NPN\n\n\nSEPSIS: Vancomycin an...,No evidence of sepsis at this time,2
68277,2078112,31893,102752.0,2126-12-05,2126-12-05 21:46:00,2126-12-05 21:59:00,Nursing/other,Report,20966.0,NaN,NPN\nplease see above note for delivery histor...,,2
68278,2078113,31893,102752.0,2126-12-06,2126-12-06 05:16:00,2126-12-06 05:28:00,Nursing/other,Report,15226.0,NaN,NPN 11p-7a\n\n\n#1 Infant placed to RA @ shift...,A r/o sepsis P follow exam,2
68279,2077115,31767,105243.0,2141-01-05,2141-01-05 14:24:00,2141-01-05 15:01:00,Nursing/other,Report,20700.0,NaN,NICU Attending Admission Note\nPt is a 34 [**6...,ID Will send cbc w diff and blood cx for sepsi...,2

In [18]:
note_events['cluster'].value_counts()

2    36306
1    26801
0     5173
Name: cluster, dtype: int64

In [19]:
grouped = note_events.groupby('cluster')

for cluster_label, cluster_df in grouped:
    print(f"First 5 rows for cluster {cluster_label}:")
    first_n = cluster_df['reduced_text'][:5]
    for i, row in first_n.iteritems():
        print(f"Row {i}:\n{row}\n")

First 5 rows for cluster 0:
Row 1444:
CONDITION 47 year old woman with ESRD on HD p/w sepsis/bacteremia with most likely culprit the left arm AV fistula graft REASON
with end stage renal disease on dialysis with bacteremia and sepsis
woman with mulifocal opacities some nodular in upper lobes Pna sepsis REASON FOR THIS EXAMINATION evaluate interval change CLINICAL HISTORY 47 year

Row 2326:
OPTIRAY Hospital 93 MEDICAL CONDITION 57M s/p AVR with persistent sepsis CNS fluid collections REASON FOR THIS EXAMINATION needs IV contrast to


Row 2333:
300 Hospital 93 MEDICAL CONDITION 63 year old woman with septic shock flash edema REASON FOR THIS EXAMINATION Effusion PNA CLINICAL INDICATION
FOR THIS EXAMINATION Effusion PNA CLINICAL INDICATION 63-year-old woman with septic shock and flash edema evaluate for effusion or pneumonia
zofran along with 240mg gentamycin and 1g vancomycin for presumed urosepsis
Hospital 119 Homecare Discharge Diagnosis s/p right ureteroscopy laser lithotripsy urosepsis Discharge Condition good Discharge Instructions You may shower and bathe normally

Row 3325:
Hospital 93 MEDICAL CONDITION 68 year old man with ARF septic shock s/p L nephrectomy w collection in liver REASON FOR THIS

Row 3457:
area hospital where she was evaluated and found to be septic with gangrene of the anterior abdominal wall
progression Hospital 93 MEDICAL CONDITION 54 year old woman with sepsis ARDS REASON FOR THIS EXAMINATION Assess fluid/disease progression PORTABLE CHEST X-RAY

First 5 rows for cluster 1:
Row 0:
she completed a 10-day course of ceftazadime and vancomycin for urosepsis
F with Nodular Sclerosing Hodgkin 's Lymphoma initially admitted for urosepsis and who was transferred to the ICU with hypotension and AFib
and acute renal failure with slight improvement after resolution of urosepsis
Likely was pre-renal due to dehydration and hypotension due to sepsis
Urosepsis Admitted with hypotension due to urosepsis requiring pressor support
urosepsis requiring pressor support
most likely due to agressive hydration in the setting of sepsis and hypoalbuminemia
at 14:26pm on 2194-2-2 Discharge Disposition Extended Care Discharge Diagnosis Urosepsis Aspiration Pneumonitis Atrial Fibrillation with RVR Lymphoma Discharge Condition The patient

Row 3:
was 3 days ago thought to be in setting of sepsis and lowered sz threshhold


Row 5:
venous pressure and decreased pulmonary capillary wedge pressure consistent with septic shock
Urosepsis

Row 7:
contusions/rib fx s/p trach/spenic lac s/p splenectomy/pelvic fx from rehab septic picture likely aspiration pneumonia secondary to dobhoff being placed into lung
contusions/rib fx s/p trach/spenic lac s/p splenectomy/pelvic fx from rehab septic picture likely aspiration pneumonia secondary to dobhoff being placed into lung
contusions/rib fx s/p trach/spenic lac s/p splenectomy/pelvic fx from rehab septic picture likely aspiration pneumonia secondary to dobhoff being placed into lung


Row 10:
right extremity wound infection and Klebsiella pneumoniae which was causing septic symptoms

First 5 rows for cluster 2:
Row 1:
Specifically for sepsis and Crohn 's flare


Row 2:


Row 4:
to the rapid rise in her WBC count myelosuppression from sepsis was also a possibility
Diagnosis 1 Neutropenic fever 2 Community acquired pneumonia 3 Severe sepsis 4 Anemia 5 Stage II breast cancer Discharge Condition Mental Status

Row 6:
Doxepin Levofloxacin Oxycontin Attending First Name3 LF 287 Chief Complaint sepsis Major Surgical or Invasive Procedure none History of Present Illness 64
Hospital rehab with diarrhea stage IV sacral decubitus ulcer and sepsis


Row 8:

In [20]:
for cluster_label, cluster_df in grouped:
    print(f"First 5 rows for cluster {cluster_label}:")
    first_n = cluster_df['reduced_text'][:5]
    for i, row in first_n.iteritems():
        print(f"Row {i}:\n{row}\n")
    break

First 5 rows for cluster 0:
Row 1444:
CONDITION 47 year old woman with ESRD on HD p/w sepsis/bacteremia with most likely culprit the left arm AV fistula graft REASON
with end stage renal disease on dialysis with bacteremia and sepsis
woman with mulifocal opacities some nodular in upper lobes Pna sepsis REASON FOR THIS EXAMINATION evaluate interval change CLINICAL HISTORY 47 year

Row 2326:
OPTIRAY Hospital 93 MEDICAL CONDITION 57M s/p AVR with persistent sepsis CNS fluid collections REASON FOR THIS EXAMINATION needs IV contrast to


Row 2333:
300 Hospital 93 MEDICAL CONDITION 63 year old woman with septic shock flash edema REASON FOR THIS EXAMINATION Effusion PNA CLINICAL INDICATION
FOR THIS EXAMINATION Effusion PNA CLINICAL INDICATION 63-year-old woman with septic shock and flash edema evaluate for effusion or pneumonia
zofran along with 240mg gentamycin and 1g vancomycin for presumed urosepsis
Hospital 119 Homecare Discharge Diagnosis s/p right ureteroscopy laser lithotripsy urosepsis Discharge Condition good Discharge Instructions You may shower and bathe normally

Row 3325:
Hospital 93 MEDICAL CONDITION 68 year old man with ARF septic shock s/p L nephrectomy w collection in liver REASON FOR THIS

Row 3457:
area hospital where she was evaluated and found to be septic with gangrene of the anterior abdominal wall
progression Hospital 93 MEDICAL CONDITION 54 year old woman with sepsis ARDS REASON FOR THIS EXAMINATION Assess fluid/disease progression PORTABLE CHEST X-RAY

In [22]:
for cluster_label, cluster_df in grouped:
    print(f"First 5 rows for cluster {cluster_label}:")
    first_n = cluster_df['reduced_text'][:5]
    for i, row in first_n.iteritems():
        print(f"Row {i}:\n{row}\n")
    cluster_df[['subject_id', 'hadm_id']].to_csv(f'cluster_{cluster_label}.csv', index=False)
    break

First 5 rows for cluster 0:
Row 1444:
CONDITION 47 year old woman with ESRD on HD p/w sepsis/bacteremia with most likely culprit the left arm AV fistula graft REASON
with end stage renal disease on dialysis with bacteremia and sepsis
woman with mulifocal opacities some nodular in upper lobes Pna sepsis REASON FOR THIS EXAMINATION evaluate interval change CLINICAL HISTORY 47 year

Row 2326:
OPTIRAY Hospital 93 MEDICAL CONDITION 57M s/p AVR with persistent sepsis CNS fluid collections REASON FOR THIS EXAMINATION needs IV contrast to


Row 2333:
300 Hospital 93 MEDICAL CONDITION 63 year old woman with septic shock flash edema REASON FOR THIS EXAMINATION Effusion PNA CLINICAL INDICATION
FOR THIS EXAMINATION Effusion PNA CLINICAL INDICATION 63-year-old woman with septic shock and flash edema evaluate for effusion or pneumonia
zofran along with 240mg gentamycin and 1g vancomycin for presumed urosepsis
Hospital 119 Homecare Discharge Diagnosis s/p right ureteroscopy laser lithotripsy urosepsis Discharge Condition good Discharge Instructions You may shower and bathe normally

Row 3325:
Hospital 93 MEDICAL CONDITION 68 year old man with ARF septic shock s/p L nephrectomy w collection in liver REASON FOR THIS

Row 3457:
area hospital where she was evaluated and found to be septic with gangrene of the anterior abdominal wall
progression Hospital 93 MEDICAL CONDITION 54 year old woman with sepsis ARDS REASON FOR THIS EXAMINATION Assess fluid/disease progression PORTABLE CHEST X-RAY